*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
img {vertical-align: middle;}
a {text-decoration: none;}
.container {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner300-256 {
    width: 300px;
    height: 256px;
    background: #ccc;
}
.font-red{ color: #c61d14;}
.font-orange { color: #ff6a00;}
.font-bold{ font-weight: bold;}
.paddingleft-50 { padding-left: 50px;}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.red { background: #c9201b;}
.orange { background: #c9771b;}
.blue { background: #1b3cc9;}
.green { background: #5c964d;}
.light-blue { background: #1bb5c9;}

.block-map {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
}
.title-map {
    font-size: 45px;
    text-transform: uppercase;
}
.logo-maps {
    position: absolute;
    top: 0;
    right: 0;
}
.block-photo {
    width: 100%;
    height: 825px;
    margin-top: 10px;
}
.block-news {
    width: 410px;
    position: relative;}
.block-photo-256 {
    width: 100%;
    height: 256px;
}
.block-photo-folders {
    width: 100%;
    height: 256px;
    background-size: contain;
}
.block-photo-256,.block-photo, .block-photo-300, .block-photo-136 {
    -webkit-background-size: cover;
    background-size: cover;
}
.rubric {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px ;
    padding:0 10px;
}
.title {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 10px;
    height: 115px;
    padding:0 10px;

}
.folder-candidate {
    width: 500px;
}

.about-candidate {
    font-size: 20px;
    padding-top: 10px;
}
.candidate {
    position: relative;
    bottom: -5px;
    left: 40px;
}
.grey-line {
    border-bottom: 1px solid #878787;
    width: 100%;
    margin-bottom: 20px;
}
.container-column {
    width: 300px;

}
.container-column-double {
    width: 616px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date, .time {
    color: #707078;
}
.block-news-300 {
    margin-bottom: 20px;
    position: relative;
}
.block-photo-300 {
    height: 235px;
}
.block-photo-136{
    height: 136px;
}
.title-300 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
}
.author-300 {
    margin: 20px 0;
    padding:0 10px;
}
.photo-100 {
    width: 100px;
    height: 100px;
}
.logo-ds {
    width: 60px;
    height: 60px;}
.title-ds {
    width: 410px;
    font-size: 19px;
}
.lenta-item {
    border-bottom: 1px solid #878787;
    padding: 15px 0 10px 0;
    color: #000;
}
.block-max-width {
    width: 100%;
    position: relative;}
.plashka-rubrics-elections {
    display: block;
    width: 290px;
    height: 40px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
}
a.lenta-title {
    color: #000;
}
.ds-news-item {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}


.block-photo-h400 {
    height: 400px;
}
.block-photo-h300 {
    height: 300px;
}
.block-w406{
    width: 406px;
    position: relative;
    margin: 20px 0;
}
.title-video {
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}
.video-weeks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-video{
    font-size: 34px;
    margin-bottom: 25px;
}
.block-max-width .title-video {
    padding-left: 600px;
}

.interview{
    width: 100%;
    height: 229px;
    margin: 100px 0;
    position: relative;
}
.block-photo-h460 {
    height: 460px;
}

